@font-face {
    font-family: 'W95';
    src:
      url('./W95FA.otf');
  }
  .card {
    border-top: 2px solid white;
    border-left: 2px solid white;
    border-right: 2px solid #393939;
    border-bottom: 2px solid #393939;
    border-radius: 0;
    background: #C0C0C0;
    width: 30vw;
}
.card-tertiary .card-header {
    background: #000181;
    color: white;
    font-family: 'W95';
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 6px;
}
.card-body {
    padding: 10px 7px;
    border-top: 2px solid #BDBDBD;
    border-left: 3px solid #BDBDBD;
    border-right: 3px solid #BDBDBD;
    border-bottom: 2px solid #bdbdbd;
}
.bg-white {
    background-color: #ffffff !important;
}
.card-text {
    font-family: 'W95';
}
.card-footer {
    padding: 10px 7px;
 }
 .btn {
    position: relative;
    transition: all 0.2s ease;
    letter-spacing: 0.025em;
    font-size: .6rem;
    border-radius: 0.125rem;
    padding: .6rem 2rem;
    max-height: 37px;
    font-family: 'W95';
}
.btn {
    position: relative;
    transition: all 0.2s ease;
    letter-spacing: 0.025em;
    font-size: .6rem;
    border-radius: 0.125rem;
    padding: .6rem 2rem;
    max-height: 37px;
}

.btn:before,
.btn:after {
    content: '';
    position: absolute;
    box-sizing: border-box;
    display: block;
    background: transparent;
    z-index: 9;
    top: 0;
    left: 0;
}

.btn:before {
    width: 100%;
    height: 100%;
    border-top: 2px solid white;
    border-left: 2px solid white;
    border-right: 2px solid #858585;
    border-bottom: 2px solid #858585;
}

.btn:not(:disabled):not(.disabled):active:before,
.btn:not(:disabled):not(.disabled):active:focus:before {
    border-color: transparent;
    color: #000;
}

.btn .btn-text {
    border: 1px solid transparent;
}

.btn:not(:disabled):not(.disabled):active .btn-text,
.btn:not(:disabled):not(.disabled):active:focus .btn-text {
    border: 1px dotted #000;
}
.btn-sm,
.btn-group-sm>.btn,
.btn-sm i,
.btn-group-sm>.btn i {
    font-size: 0.53rem;
    padding: .4rem 1.6rem;
    max-height: 29px;
}
.btn-primary {
    color: #000;
    background-color: #c0c0c0;
    border-color: #a0a0a0;
}

.btn-primary:hover {
    color: #000;
    background-color: #c0c0c0;
    border-color: #a0a0a0;
}

.btn-primary:focus,
.btn-primary.focus {
    box-shadow: none
}

.btn-primary.disabled,
.btn-primary:disabled {
    color: #000;
    background-color: #c0c0c0;
    border-color: #c0c0c0;
}

.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show>.btn-primary.dropdown-toggle {
    color: #000;
    background-color: #c0c0c0;
    border-color: #c0c0c0;
}

.btn-primary:not(:disabled):not(.disabled):active:focus,
.btn-primary:not(:disabled):not(.disabled).active:focus,
.show>.btn-primary.dropdown-toggle:focus {
    box-shadow: none;
}
.border-dark {
    border: 2px solid #0A0A0A !important;
}
.container {
    display: flex;
    justify-content: center; /* Horizontally center */
    align-items: center;     /* Vertically center */
    position: fixed;         /* Fix the popup in the viewport */
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}